.fa-keyboard {
  @include icons-color;
}
.fa-object-ungroup {
  @include icons-color;
}
.fa-share-nodes {
  @include icons-color;
}
.fa-chevron-up,
.fa-chevron-down {
  flex-grow: 1;
  text-align: end;
  color: $subtitle-color;
}
