<section class="preview">
    <button class="preview__btn">Reset</button>
    <article class="preview__article">
        <div class="preview__box1">
            <p class="preview__box1__name"></p>
            <p class="preview__box1__job"></p>
        </div>
        <div class="preview__box2">
            <img src="" alt="Foto del usuario" class="preview__box2__pic">
        </div>
        <nav class="preview__nav">
            <ul class="preview__media">
                <li class="preview__media__item"><a href="#" class="preview__media__link"></a></li>
                <li class="preview__media__item"><a href="#" class="preview__media__link"></a></li>
                <li class="preview__media__item"><a href="#" class="preview__media__link"></a></li>
                <li class="preview__media__item"><a href="#" class="preview__media__link"></a></li>
            </ul>
        </nav>
    </article>
</section>