<fieldset class="form__design">
    <legend class="form__design__title"><i class="fa-regular fa-object-ungroup"></i>Diseña</legend>
    <section class="form__design__colors">
        <label for="" class="form__design__label">Colores</label>
        <div class="form__design__rangeBox">
            <div class="form__design__colorInput">
                <input type="radio" name= "color" class="form__design__radioBtn">
                <div class="form__design__p1c1 form__design__colorBox"></div>
                <div class="form__design__p1c2 form__design__colorBox"></div>
                <div class="form__design__p1c3 form__design__colorBox"></div>
            </div>
            <div class="form__design__colorInput">
                <input type="radio" name= "color" class="form__design__radioBtn">
                <div class="form__design__p2c1 form__design__colorBox"></div>
                <div class="form__design__p2c2 form__design__colorBox"></div>
                <div class="form__design__p2c3 form__design__colorBox"></div>
            </div>
            <div class="form__design__colorInput">
                <input type="radio" name= "color" class="form__design__radioBtn">
                <div class="form__design__p3c1 form__design__colorBox"></div>
                <div class="form__design__p3c2 form__design__colorBox"></div>
                <div class="form__design__p3c3 form__design__colorBox"></div>
            </div>
        </div>
    </section>
    <!-- <section class="form__design__colors">
        <label for="" class="form__design__label">Colores</label>
        <div class="form__design__colorBoxMain">
            <input type="radio" name= "color" class="form__design__radioBtn">
            <label for="" class="form__design__label">
        </div>
        <div class="form__design__colorBox">
            <input type="radio" name= "color" class="form__design__radioBtn">
            <label for="" class="form__design__label">
                <div class="form__design__p2c1 form__design__colorBox"></div><div class="form__design__p2c2 form__design__colorBox"></div><div class="form__design__p2c3 form__design__colorBox"></div>
            </label>
        </div>
        <div class="form__design__colorBox">
            <input type="radio" name= "color" class="form__design__radioBtn">
            <label for="" class="form__design__label">
                <div class="form__design__p3c1 form__design__colorBox"></div><div class="form__design__p3c2 form__design__colorBox"></div><div class="form__design__p3c3 form__design__colorBox"></div>
            </label>
        </div>   
    </section> -->
</fieldset>