<fieldset class="form__share">
    <div class="form__share__boxOne js_fieldset_boxOne">
        <legend class="form__share__title"><i class="fa-solid fa-share-nodes form__share__nodesIcon"></i>Comparte
        </legend>
        <i class="fa-solid fa-chevron-up js_arrow upsideDown"></i>
    </div>
    <div class="form__share__boxTwo js_boxTwo collapsed"><button class="form__share__btn"><i
                class="fa-regular fa-address-card form__share__cardIcon"></i>Crear tarjeta</button></div>
</fieldset>
<section class="form__collapsible js_share_section collapsed">
    <div class="form__collapsible__boxText">
        <p class="form__collapsible__cardText">
            La tarjeta ha sido creada:
        </p>
        <a class="form__collapsible__cardLink">link aquí</a>
    </div>
    <p class="form__collapsible__errorText">Ups! Debes rellenar todos los campos obligatorios!</p>
    <a href="#" class="form__collapsible__shareBtn"><i class="fa-brands fa-twitter"></i><span>Compartir en
            twitter</span></a>
</section>