.form__fill {
  margin-right: 19px;
  margin-left: 20px;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: #d8d8d8 1px solid;
  display: grid;
  grid-template-columns: 1fr;
  &__boxOne {
    width: 281px;
    display: flex;
    gap: rem(10);
    margin-bottom: rem(28);
  }
  &__title {
    text-transform: uppercase;
    font-size: rem(18);
    color: $subtitle-color;
    font-weight: 600;
  }
  &__label {
    font-size: rem(14);
    color: $palette1-color1;
    font-weight: 600;
    margin-bottom: rem(7);
    line-height: 1.43;
    &--cover {
      width: 140px;
      height: 30px;
      color: #ffffff;
      font-size: rem(14);
      font-weight: 400;
      line-height: 1.8;
      text-align: center;
      background-color: $primary-color;
      border-radius: 3px;
      margin-bottom: rem(20);
    }
  }
  &__input {
    border: $palette1-color3 solid 1px;
    font-size: rem(14);
    color: #c5c5c5;
    font-family: $font-main;
    font-weight: 400;
    margin-bottom: rem(20);
    padding: 3px 0px 7px 10px;
  }
  &__boxTwo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: rem(20);
    align-items: center;
  }
  &__boxTwo--one {
    display: flex;
    flex-direction: column;
  }
  &__boxTwo--two {
    width: 30px;
    height: 30px;
    border: solid 1px $palette1-color3;
    margin-top: 8px;
  }
  @include tablet {
    margin-left: 40px;
    margin-right: 30px;
  }
}
.fa-keyboard {
  @include icons-color;
}
.fa-chevron-down {
  flex-grow: 1;
  text-align: end;
  color: $subtitle-color;
}
.short-margin {
  margin-bottom: rem(18);
}
