.form {
  margin-bottom: 20px;
  @media all and (min-width: 768px) {
    width: 40vw;
  }
}
.upsideDown {
  transform: rotate(180deg) translateY(4px);
}
.fa-chevron-down:active {
  transition: transform 2s ease-in-out;
  cursor: pointer;
}