.header {
  display: flex;
  background-image: linear-gradient(to right bottom, #dc78b7, #6c54c3);
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0;
  width: 100%;
  height: 12vh;
  &__link {
    width: 201px;
    height: 50px;
    padding-left: 31px;
  }
  &__link__logo {
    width: 110px;
    height: 70px;
    position: relative;
    bottom: 23%;
  }
}

// .stars,
// .twinkling,
// .clouds {
//   position: absolute;
//   display: block;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   width: 100%;
//   height: 100%;
// }

// .space {
//   z-index: 0;
//   background-image: linear-gradient(to right bottom, #dc78b7, #6c54c3);
//   background: rgb(0, 0, 0) url('https://i.imgur.com/YKY28eT.png') repeat top
//     center;
// }

// .twinkling {
//   background: transparent url('https://i.imgur.com/XYMF4ca.png') repeat top
//     center;
//   width: 85%;
//   height: 10vh;
//   position: relative;
//   left: 0.1%;
//   animation: move-twink-back 200s linear infinite;
// }

// @keyframes move-twink-back {
//   from {
//     background-position: 0 0;
//   }
//   to {
//     background-position: -10000px 5000px;
//   }
// }
