.landing {
  height: 85vh;
  background-color: $background-landing-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px #d8d8d8 ;
  
  &__logo__img {
    width: 250px;
    height: 63px;
    margin: 95px 35px 35.4px 35px;

    @media all and (min-width: 768px) {
      width: 419px;
      height: 105px;
     /* margin: 350px 174px 31px 174px;*/
    }
  }
  &__title {
    color: $primary-color;
    font-family: $font-title;
    font-weight: bold;
    font-size: rem(19.2);
    margin-right: 26px;
    margin-left: 26px;

    @media all and (min-width: 768px) {
      font-size: 24px;
    }
  }
  &__text {
    color: $palette1-color1;
    font-family: $font-main;
    font-size: rem(12.8);
    font-weight: 600;
    text-align: center;
    margin: 0px 26px 18px 26px;
    max-width: 38ch;
    line-height: 1.5;

    @media all and (min-width: 768px) {
      font-size: 16px;
      margin-bottom: 27px;
    }

  }
  &__icons {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 268px;
    border: solid 1.6px rgba($primary-color, $alpha: 0.21);
    border-radius: 4px;
    gap:10px;

    @media all and (min-width: 768px) {
      width: 325px;
      border-radius: 5px;
      margin-bottom: 186px;
      gap: 20px;
    }
    

    &__item {
      width: 60px;
      height: auto;
      color: $subtitle-color;
      font-size: 13px;
      padding: 10px;
      text-align: center;
    }

  }
  
  &__box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 129px;
    height: 42px;
    background-color: $palette1-color2;
    border-radius: 21px;
    margin-top: 38.6px;
    margin-bottom: 30px;

    @media all and (min-width: 768px) {
      margin-bottom: 59px;
    }
  

    &__btn {
      color: #ffffff;
      font-family: $font-main;
      font-size: 16px;
      font-weight: 600;
      text-decoration: none;
      text-transform:uppercase;
        }
    }
}
.fa-object-ungroup::before {
     width: 72px;
    height: 58.5px;

    
  }
.fa-object-keyboard::before {
    width: 72px;
    height: 58.5px;
  }
.fa-object-share-nodes::before {
    width: 72px;
    height: 58.5px;
  }

